<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dokterdiabetesforelderly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DokterDiabetesForElderly">
        <activity android:name=".StepAfterMainMenu.Shop"></activity>
        <activity android:name=".LoginUmum" />
        <activity android:name=".PilihanLogin" />
        <activity android:name=".Konsultasi.DetailKonsultasi" />
        <activity android:name=".Pesan.DetailPesan" />
        <activity android:name=".StepAfterMainMenu.ListKategoriArtikel" />
        <activity android:name=".Artikel.DetailArtikel" />
        <activity android:name=".Resep" />
        <activity android:name=".Login" />
        <activity android:name=".StepAfterMainMenu.DataGlukosa" />
        <activity android:name=".MainMenu.Profil" />
        <activity android:name=".Pesan.Pesan" />
        <activity android:name=".StepAfterMainMenu.DataBeratBadan" />
        <activity android:name=".BeratBadanBMI.HasilBeratBadan" />
        <activity android:name=".BeratBadanBMI.BeratBadan" />
        <activity android:name=".Glukosa.HasilGlukosa" />
        <activity android:name=".Konsultasi.KonsultasiUser" />
        <activity android:name=".Konsultasi.PertanyaanKonsultasi" />
        <activity android:name=".Konsultasi.Konsultasi" />
        <activity android:name=".Glukosa.Glukosa" />
        <activity android:name=".CarboCalculator.HasilCarbocalculator" />
        <activity android:name=".Artikel.ArtikelInfoDiabetes" />
        <activity android:name=".Artikel.ArtikelKesehatan" />
        <activity android:name=".Artikel.Artikel" />
        <activity android:name=".CarboCalculator.TambahDataCarbo.Tambahmknmalam" />
        <activity android:name=".CarboCalculator.TambahDataCarbo.Tambahmknsiang" />
        <activity android:name=".CarboCalculator.TambahDataCarbo.Tambahsarapan" />
        <activity android:name=".CarboCalculator.Carbocalculator" />
        <activity android:name=".StepAfterMainMenu.Datacarbocalculator" />
        <activity android:name=".MainMenu.MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>